* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button,
input {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
